### Exercise

build a spam filter model with hight accuracy using spam csv data file

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
import joblib

#### Data Exploraiton

In [8]:
df = pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
df.shape

(5572, 2)

In [10]:
df.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [11]:
df.Category.value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

#### handling Categorial column

In [12]:
df.Category.replace(to_replace=['ham', 'spam'], value=[0,1], inplace=True)
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [13]:
X = df.Message
y = df.Category

#### split the data into training and testing datasets

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)

#### using sklearn pipeline to vectroize and train the data

In [17]:
model = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [18]:
model.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [19]:
model.score(X_test, y_test)

0.9870782483847811

#### save the model

In [22]:
joblib.dump(model, 'Spam Filter')

['Spam Filter']

#### Load the model

In [23]:
spam_filter = joblib.load('Spam Filter')

#### Using the model after loading it

In [28]:
# predict those meails wether spam or not
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!',
    'Get unlimited access to all courses at just ₹ 1999 / year (₹ 5999/year).',
    'Last Chance: Log2Base2 Diwali Sale Ends Today!',
    'We wanted to remind you that there’s not much time left to get our special Black Friday offer: 2 Nanodegree programs for the price of 1. Our programs, which help you develop in-demand skills in as few as 10 hours a week, are co-developed with some of the top companies in tech—and they make an excellent gift for someone looking to advance their career.'
]

In [29]:
spam_filter.predict(emails)

array([0, 1, 0, 1, 0], dtype=int64)